body {
  /* Background */
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  margin: auto;
  width: 360px;
  height: 712px;
  border: 2px solid sandybrown;
}
